<!DOCTYPE html>
<html>	
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="{{ url_for('static',filename='login/css/style.css') }}" rel='stylesheet' type='text/css' />
<!--//webfonts-->
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});	  
});
</script>
 <!--SIGN UP-->
 <h1>cleanblog 后台管理系统 </h1>
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="{{ url_for('static',filename='login/images/avtar.png') }}" />
	</div>
			<form action="/login.html" method="post">
                {{ form.hidden_tag() }}
                 {{ form.username(id="username",class="text",placeholder="E-main or username",required=True) }}
                  {{ form.password(id="passwd",class="form-control",placeholder="input passwd",required=True) }}

{#					<input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" >#}
{#						<div class="key">#}
{#					<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">#}
{#						</div>#}
               <div class="leos">
                   {{ form.remember_me.label }} {{ form.remember_me() }}

               </div>
                <div class="key",style="color:red">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          <ul class="flashes">
                              {% for message in messages %}
                              <li>{{ message }}</li>
                              {% endfor %}
                          </ul>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="signin">
                    {{ form.submit(class="btn btn-lg btn-success btn-block",value="Login") }}
                </div>
			</form>

</div>
 <div class="copy-rights">
			</div>

</body>
</html>